<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
	<headerType>gui</headerType>
	<jar>target\AppointmentEditor-0.0.1-SNAPSHOT-jar-with-dependencies.jar</jar>
	<outfile>..\output\TerminEditor.exe</outfile>
	<icon>src\main\resources\EditorIcon.ico</icon>
	<singleInstance>
		<mutexName>glasergl_AppointmentEditor</mutexName>
	</singleInstance>
	<jre>
		<minVersion>1.8.9_321</minVersion>
	</jre>
</launch4jConfig>